/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Jun, 2016, 1:29:30 PM
    Author     : Trevor Fernandes
*/
.alert{
    -fx-background-color: #dae6e9;
}

.alert > *.button-bar > *.container{
    /*-fx-background-color: #a9e200;*/
}
.alert > *.label.content{
    
    -fx-font-size: 15px;
    /*-fx-font-weight: bold;*/
}
.alert:header *.header-panel{
    /*-fx-background-color: #a59c31;*/
}
.alert:header *.header-panel *.label{
    /*-fx-font-size: 18px;*/
    /*-fx-font-style: italic;*/
    /*-fx-fill: #292929;*/
}
