/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Jun, 2016, 3:38:25 PM
    Author     : Trevor Fernandes
*/

.CustomButton{
    -fx-background-color: #2aa27f;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.CustomButton:hover{
    -fx-background-color: #62d4b3;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.CustomButton:pressed{
    -fx-background-color: #b7fcf6;
    -fx-background-radius: 2;
    -fx-text-fill: #0d5641;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.CustomButton:selected{
    -fx-background-color: #ff6666;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #993300;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

/* CustomToggleButton1 */

.CustomToggleButton1{
    -fx-background-color: #2aa27f;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.CustomToggleButton1:hover{
    -fx-background-color: #62d4b3;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.CustomToggleButton1:pressed{
    -fx-background-color: #b7fcf6;
    -fx-background-radius: 2;
    -fx-text-fill: #0d5641;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.CustomToggleButton1:selected{
    -fx-background-color: #ff6666;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #993300;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.greyFill{
    -fx-background-color: #cccccc;
}

/*#Custom{
    -fx-background-color: #2aa27f;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#Custom:hover{
    -fx-background-color: #62d4b3;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#Custom:pressed{
    -fx-background-color: #b7fcf6;
    -fx-background-radius: 2;
    -fx-text-fill: #0d5641;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#Custom:selected{
    -fx-background-color: #ff6666;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #993300;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}*/

#ButtonSelectedHover{
    -fx-background-color: #ff9896;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #993300;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#Help{
    -fx-background-color: #000000;
    -fx-opacity: 0.6;
}

#HelpHeader{
    -fx-background-color: #000000;
    -fx-opacity: 0.1;
}

#HelpBg1{
    -fx-background-color: #ff9896;
}

#HelpBg2{
    -fx-background-color: #2aa27f;
}

#HelpBg3{
    -fx-background-color: #ffff99;
}

#HelpBg4{
    -fx-background-color: #9999ff;
}

#HelpBg5{
    -fx-background-color: #66ccff;
}

#HelpBg6{
    -fx-background-color: #cccccc;
}

#HelpBg7{
    -fx-background-color: #cccc00;
}

#HelpBg8{
    -fx-background-color: #ff99ff;
}

#HelpBg9{
    -fx-background-color: #66ffcc;
}

#HelpBg10{
    -fx-background-color: #ccffcc;
}
