/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Jul, 2016, 10:20:25 PM
    Author     : Trevor Fernandes
*/

#FillScene{
    -fx-background-color: lightsalmon;
}
#FillCenter{
    -fx-background-color: cornsilk;
}
#FillTop{
    -fx-background-color: #ccffcc;
}
#FillLeft{
    -fx-background-color: aquamarine;
}
#FillRight{
    -fx-background-color: goldenrod;
}
#FillBottom{
    -fx-background-color: #cccc00;
}