/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Jun, 2016, 10:12:35 PM
    Author     : Trevor Fernandes
*/

#PhotoStackPane{
    -fx-background-color: #000000;
    -fx-background-radius: 10;
}

#RecordHeaderHBox{
    -fx-background-color: #dddddd;
    -fx-border-color: #cccccc;
    -fx-border-width: 5;
    /*-fx*/
}

#SectionHeader{
    -fx-background-color: #cccccc;
}

#FamilyMemberCellHBox{
    -fx-border-color: #cccccc;
    -fx-border-width: 2;
}

#FamilyMemberHeaderHBox{
    -fx-background-color: #dddddd;
}