/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Jun, 2016, 3:38:25 PM
    Author     : Trevor Fernandes
*/

#ButtonNormal{
    -fx-background-color: #2aa27f;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#ButtonPressed{
    -fx-background-color: #b7fcf6;
    -fx-background-radius: 2;
    -fx-text-fill: #0d5641;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#ButtonSelected{
    -fx-background-color: #ff6666;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #993300;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#ButtonHover{
    -fx-background-color: #62d4b3;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0d5641;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#ButtonSelectedHover{
    -fx-background-color: #ff9896;
    -fx-background-radius: 2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #993300;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

#Help{
    -fx-background-color: #000000;
    -fx-opacity: 0.6;
}

#HelpHeader{
    -fx-background-color: #000000;
    -fx-opacity: 0.1;
}

#HelpBg1{
    -fx-background-color: #ff9896;
}

#HelpBg2{
    -fx-background-color: #2aa27f;
}

#HelpBg3{
    -fx-background-color: #ffff99;
}

#HelpBg4{
    -fx-background-color: #9999ff;
}

#HelpBg5{
    -fx-background-color: #66ccff;
}

#HelpBg6{
    -fx-background-color: #cccccc;
}

#HelpBg7{
    -fx-background-color: #cccc00;
}

#HelpBg8{
    -fx-background-color: #ff99ff;
}

#HelpBg9{
    -fx-background-color: #66ffcc;
}

#HelpBg10{
    -fx-background-color: #ccffcc;
}
/*#ButtonNormal{
    -fx-background-color: white;
    -fx-background-radius: 2;
    -fx-text-fill: #777777;
    -fx-border-color: #777777;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}*/
/*
#ButtonNormal{
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
#ButtonPressed{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#ButtonSelected{
    -fx-background-color: 
        linear-gradient(#ff6666, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #ff6666 20%, #ff6666 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#ButtonHover{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#ButtonSelectedHover{
    -fx-background-color: 
        linear-gradient(#ff6666, #d6d6d6),
        linear-gradient(#ff6666 0%, #ff6666 20%, #ff6666 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}*/
