/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 May, 2016, 11:49:33 PM
    Author     : Trevor Fernandes
*/
.root{
    /*-fx-background-image: url("images/full_moon_dark_mountains-HD.jpg");*/
}
#LoginTitle{
    -fx-font-size: 32px;
    /*-fx-fill: white;*/
}
#Login{
    -fx-font-size: 24px;
    /*-fx-fill: white;*/
}
#BgLogo{
    -fx-opacity: 0.6;
}

#AdminNormal{
}

#AdminSelected{
    -fx-background-color: #ff6666;
    /*-fx-background-radius: 2;*/
    -fx-text-fill: #ffffff;
    -fx-border-color: #993300;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}
